body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
	width: 100%;
	height: 500px;
  }

  element.style {
	max-width: 1000px;
  }

  .stat-window {
	background-color: #ffffff;
	width: 90%;
	height: 75%;
	max-height: 550px;
  }

.sidebar {
	width: 400px;
}